#results {
  text-align: left;
}

.result {
  display: flex;
}

.result + .result {
  margin-top: 12px;
}

.column-thumbnail {
  flex: 50%;
}
.thumbnail {
  width: 100%;
}

.column-text {
  flex: 50%;
  padding-left: 18px;
}

.result-title {
  color: var(--color-text);
  font-weight: 500;
}
.result-channel {
  color: var(--vt-c-text-dark-3);
  font-size: 14px;
  margin-top: 6px;
}

#watch-ctn {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 24px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  /* .logo {
    display: none;
  } */
}