* {
  box-sizing: border-box;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #242424;
  --vt-c-black-highlight: #333333;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: var(--vt-c-white-soft);
  --vt-c-text-dark-3: rgba(235, 235, 235, 0.64);

  --vt-c-green: hsla(160, 100%, 37%, 1);
}

:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-highlight: var(--vt-c-black-highlight);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --color-highlight: var(--vt-c-green);
}

body {
  font-size: 18px;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);

  text-align: center;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
  max-width: 750px;
  margin: 0px auto;
  background-color: var(--vt-c-black-mute);
}
.navbar {
  width: 100%;
  height: 62px;
  background-color: var(--color-background-highlight);
  display: flex;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 1px solid var(--color-border);;
}
a,
.green {
  text-decoration: none;
  color: var(--color-highlight);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
.logo {
  margin-top: 32px;
  /* color: var(--color-highlight); */
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-link {
  display: flex;
}
.logo-nav{
  margin-top: unset;
  font-weight: 600;
  font-size: 24px;
  margin-right: 12px;
  margin-left: 12px;
}
.logo-img {
  width: 200px;
  margin-top: 24px;
}
.logo-img-nav {
  width: 32px;
  height: 32px;
}

.logo-desc {
  /* color: var(--vt-c-text-dark-3); */
  
  /* background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.search {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-border);
  padding: 4px 16px;
  border-radius: 32px;
  margin-top: 24px;
  background-color: var(--color-background-highlight);
  max-width: 100%;
}
.search-nav {
  margin-top: unset;
  margin-left: auto;
}
.search-inp {
  font-size: 18px;
  padding: 6px;
  border: none;
  background: none;
  outline: none;
  color: var(--color-text);
  width: 100%;
}
.search-inp-nav {
  font-size: 16px;
}
.search:focus-within {
  border: 1px solid var(--color-highlight);
}
.search-icn {
  background: none;
  border: none;
  outline: none;
}
.search-icn img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.info-ctn {
  margin-top: 42px;
}

#results {
  padding: 24px;
  text-align: left;
}

.result {
  display: flex;
}

.result + .result {
  margin-top: 12px;
}

.column-thumbnail {
  flex: 50%;
}
.thumbnail {
  width: 100%;
}

.column-text {
  flex: 50%;
  padding-left: 18px;
}

.result-title {
  color: var(--color-text);
  font-weight: 500;
}
.result-channel {
  color: var(--vt-c-text-dark-3);
  font-size: 14px;
  margin-top: 6px;
}

#watch-ctn {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 24px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
}